body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wine-glass {
    height: 50px;
    width: 50px;
    border: 3px solid #000;
    border-radius: 0 0 50% 50%;
    background-image: url(./wine.png);
    animation: fill 3s infinite;
    background-repeat: repeat-x;
}

.glass-stem {
    height: 50px;
    width: 5px;
    background: #000;
}

.glass-base {
    height: 10px;
    width: 35px;
    background: #000;
    border-radius: 50%;
}

@keyframes fill {
    0% {
        background-position: 0px 50px;
    }
    20% {
        background-position: -5px 45px;
    }
    40% {
        background-position: -50px 30px;
    }
    80% {
        background-position: -100px 5px;
    }
    100% {
        background-position: 0px 50px;
    }
}